<% content_for :page_title, "Tools" %>
<% content_for :page_description, "My day-to-day workflow consists of the tools and applications listed below. While my workflow is constantly evolving, I try to keep this page up-to-date." %>

<div class="col-md-6 offset-md-3 mt-12">
	<h2 class="pb-3"><strong><%= yield :page_title %></strong></h2> 
		<p>My day-to-day workflow consists of the tools and applications listed below. While my workflow is constantly evolving, I try to keep this page up-to-date.</p>
		<h4 class="sm">Development</h4>
		<ul>	
    	<li>Atom</li>
			<li>iTerm</li> 
			<li>PHP Storm</li> 
    	<li>Sublime Text</li>
		</ul> 

		<h4 class="sm">Design</h4>
		<ul>	
			<li>Adobe Creative Cloud</li>
			<li>Invision</li>
  		<li><%= link_to "Sketch", "https://www.sketchapp.com/", target: "_blank" %></li>
			<li>Sakura pens and a notebook</li>
		</ul>
		
		<h4 class="sm">Dev Ops</h4>
		<ul>	
    	<li>DNSimple</li>
			<li>Heroku</li>
			<li>Postgresql</li>
			<li>Postico</li>
			<li>Sequel Pro</li>
			<li>Vagrant</li> 
		</ul>
			
		<h3 class="sm">Hardware</h3>
		<ul>	
  		<li>MacBook Pro 15"</li>
			<li>Magic Mouse</li>
			<li><%= link_to "Poker 3 Keyboard", "https://www.amazon.com/Mechanical-Keyboard-Keycaps-Cherry-Mx-Blue/dp/B00OFM51L2", target: "_blank" %></li>
			<li><%= link_to "Aiaia TMA-2 (S01-H02-E02-C06)", "https://aiaiai.dk/configurator", target: "_blank" %></li>
		</ul>
			
		<h3 class="sm">Miscellaneous Apps</h3>
		<ul>
			<li>1Password</li>
			<li>aText</li>
			<li>Calendly</li>
			<li>Cloak</li>
			<li>Evernote</li>
			<li>Jira</li>
			<li>Karabiner</li>
			<li>Nylas Mail</li>
			<li>Sip</li>
			<li>Slack</li>
			<li>Spotify</li>
			<li>Spectacle</li>
			<li><%= link_to "Tiny Notes", "https://tinynot.es", target: "_blank" %></li>
		</ul>
</div>
