<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('components/head.ejs') %>
  <body>
    <%- include('components/nav.ejs') %>
    <%- include('components/hero.ejs', {head: 'Holla @ Your Boy', sub: 'Need a website, an app, or just wanna chat?' }) %>
    <main class="content wrapper-md">
      <section>
        <p class="text--sm">You can reach me via email at <a href="mailto:gary@garybunofsky.com" rel="noopener">gary@garybunofsky.com</a>. If you want to snag a coffee, or discuss a project please <a href="https://calendly.com/garybunofsky" target="_blank" rel="noopener">set up a meeting</a>.</p>
      </section>
      <section class="mb-4">
        <h1 class="text--md text--bold">Get a Free Quote</h1>
        <%- include('components/form.ejs') %>
      </section>
      <%- include('components/callout.ejs') %>
    </main>
    <%- include('components/footer.ejs') %>
  </body>
</html>
