<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('components/head.ejs') %>
  <body>
    <%- include('components/nav.ejs') %>
    <%- include('components/hero.ejs', {head: 'Contact', sub: 'Need a website or an app?' }) %>
    <main class="content wrapper-md">
      <section>
        <p class="text--sm">You can reach me via email at <a href="mailto:gary@garybunofsky.com" rel="noopener">gary@garybunofsky.com</a>. If you want to snag a coffee, or discuss a project please <a href="https://calendly.com/garybunofsky" target="_blank" rel="noopener">set up a meeting</a>.</p>
      </section>
      <section>
        <h3 class="text--md">Elsewhere</h3>
        <ul class="text--sm">
            <li><a href="https://github.com/garybunofsky" class="caret" target="_blank" rel="noopener">Github</a></li>
            <li><a href="https://instagram.com/garybunofsky" class="caret" target="_blank" rel="noopener">Instagram</a></li>
            <li><a href="https://linkedIn.com/in/garybunofsky" class="caret" target="_blank" rel="noopener">LinkedIn</a></li>
            <li><a href="https://twitter.com/garybunofsky" class="caret" target="_blank" rel="noopener">Twitter</a></li>
          </ul>
      </section>
      <%- include('components/callout.ejs') %>
    </main>
    <%- include('components/footer.ejs') %>
  </body>
</html>
