<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('components/head.ejs') %>
  <body>
    <%- include('components/nav.ejs') %>
    <main>
      <%- include('components/intro.ejs') %>
      <%- include('components/projects.ejs') %>
    </main>
    <%- include('components/footer.ejs') %>
  </body>
</html>
