<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('components/head.ejs') %>
  <body>
    <%- include('components/nav.ejs') %>
    <%- include('components/hero.ejs', {head: 'Hi, I\'m Gary Bunofsky', sub: 'I\’m a software developer based in Cleveland, Ohio. I build sites, apps, and products on the internet.'  }) %>
    <main class="homepage">
      <%- include('components/projects.ejs') %>
    </main>
    <%- include('components/footer.ejs') %>
  </body>
</html>
