<% content_for :page_title, "Portfolio" %>
<% content_for :page_description, "My most recent work is what you see in my portfolio. Websites, tools, simple applications; these are the things that I spend my free time working on." %>
<div class="col-md-6 offset-md-3 mt-12">
  <h2><strong><%= yield :page_title %></strong></h2>
	<p>Stuff I made.</p>
  
  <div class="row">
		<div class="col-sm-6 col-md-12 col-lg-6 mb-6">
			<%= link_to "/portfolio/tiny-notes", class: "card shadow" do %>
				<div class="text-center mb-3">
					<img src="https://s3.amazonaws.com/garybunofsky.com/note.svg" class="center mb-5 mt-5" />
	      	<h3 class="md">Tiny Notes</h4>
				</div>
	      <p>Tiny Notes is a note taking app that allows you to share your writing in .json format.</p>
			<% end %>
    </div>
		
		<div class="col-sm-6 col-md-12 col-lg-6 mb-6">
			<%= link_to "http://leaselightning.com", target: "_blank", class: "card shadow" do %>
				<div class="text-center mb-3">
					<img src="https://s3.amazonaws.com/garybunofsky.com/building.svg" class="center mb-5 mt-5" />
	      	<h3 class="md">Lease Lightning</h3>
				</div>
	      <p>Lease Lightning is a fast way to send lease agreements to residents. Please note that this is a work in progress.</p>
			<% end %>
    </div>
  </div>
	
	<div class="row">
		<div class="col-sm-6 col-md-12 col-lg-6 mb-6">
			<%= link_to "/portfolio/veronica", class: "card shadow" do %>
				<div class="text-center mb-3">
					<img src="https://s3.amazonaws.com/garybunofsky.com/speech.svg" class="center mb-5 mt-5" />
					<h3 class="md">Veronica</h4>
				</div>
				<p>Veronica is a chatbot that texts you news. If you want the latest, just text <em>CNN</em>, <em>Time</em>, or something else to (321) 233-9118.</p>
			<% end %>
		</div>
		
		<div class="col-sm-6 col-md-12 col-lg-6 mb-6">
			<%= link_to "/portfolio/pass", target: "_blank", class: "card shadow" do %>
				<div class="text-center mb-3">
					<img src="https://s3.amazonaws.com/garybunofsky.com/code.svg" class="center mb-5 mt-5" />
					<h3 class="md">Pass.js</h3>
				</div>
				<p>Pass.js tracks referral traffic. It helps analyze conversion funnels by capturing URL parameters through hidden form fields. It’s very small and easy to install.</p>
			<% end %>
		</div>
	</div>
	
</div>

