<% content_for :page_title, "Portfolio" %>
<% content_for :page_description, "My most recent work outside of EmployStream is what you see in my portfolio. Websites, tools, simple applications; these are the things that I spend my free time working on." %>
<p>My most recent work outside of EmployStream is what you see in my portfolio. Websites, tools, simple applications; these are the things that I spend my free time working on.</p>

<section class="mb36">
  <h3>Lease Lightning</h3>
  <p><%= link_to "Lease Lightning", "http://leaselightning.com", :target => "_blank" %> is a fast way to send lease agreements to residents. Please note that this is a work in progress.</p>
  <%= link_to "http://leaselightning.com", :target => "_blank" do %>
  <figure class="center">
  		<img src="https://s3.amazonaws.com/garybunofsky.com/lease-lightning.png" alt="Lease Lightning" class="project" />
  </figure>
  <% end %>
</section>

<section class="mb36">
  <h3>Veronica</h3>
  <p>Veronica is a chatbot that texts you news. If you want the latest, just text <em>CNN</em>, <em>Time</em>, or something else to (321) 233-9118. Don't worry she won't spam you. <%= link_to "Click here to save her number", "/veronica.vcf", :target => "_blank" %>.</p>
  <figure class="center">
  		<img src="https://s3.amazonaws.com/garybunofsky.com/veronica.png" alt="Veronica" class="project no-link" />
  </figure>
</section>

<section class="mb36">
  <h3>Pass.js</h3>
  <p><%= link_to "Pass.js", "http://garybunofsky.github.io/pass.js/", :target => "_blank" %> tracks referral traffic. It helps analyze conversion funnels by capturing URL parameters through hidden form fields. It’s very small and easy to install.</p>
  <%= link_to "http://garybunofsky.github.io/pass.js", :target => "_blank" do %>
  <figure class="center">
  		<img src="https://s3.amazonaws.com/garybunofsky.com/pass.png" alt="Pass.js" class="project" />
  </figure>
  <% end %>
</section>

<section class="mb36">
  <h3>Magenda</h3>
  <p><%= link_to "Magenda", "http://magenda.co/", :target => "_blank" %> is a light, browser-based to-do list. A quick, simple way to log items – no download required. <%= link_to "See how I made it.", "portfolio/magenda" %></p>
  <%= link_to "http://magenda.co/", :target => "_blank" do %>
  <figure class="center">
  		<img src="https://s3.amazonaws.com/garybunofsky.com/magenda.png" alt="Magenda" class="project" />
  </figure>
  <% end %>
</section>

