<% content_for :page_title, "Portfolio" %>
<% content_for :page_description, "My most recent work outside of EmployStream is what you see in my portfolio. Websites, tools, simple applications; these are the things that I spend my free time working on." %>
<p>My most recent work outside of EmployStream is what you see in my portfolio. Websites, tools, simple applications; these are the things that I spend my free time working on.</p>

<section>
  <h2>Veronica</h2>
	<p>Veronica is an SMS chatbot. She can tell you today's news, tomorrow's weather forecast, and plenty of other things. Veronica can be reached at (321)-233-9118. <%= link_to "Save her number", "/veronica.vcf", :target => "_blank" %> or <%= link_to "view the source", "https://github.com/garybunofsky/veronica", :target => "_blank" %>.</p>
</section>

<section>
  <h2>Magenda</h2>
  <p><%= link_to "Magenda", "http://magenda.co", :target => "_blank" %> is a light, browser-based to do list. A quick, simple way to log items. <%= link_to "Visit the website", "http://magenda.co", :target => "_blank" %>, <%= link_to "view the source", "https://github.com/garybunofsky/magenda.co", :target => "_blank" %> or <%= link_to "see my process", subpage_path(:portfolio, 'magenda') %>.</p>
</section>

<section>
  <h2>Pass.js</h2>
  <p>I wrote <%= link_to "Pass.js", "http://garybunofsky.github.io/pass.js", :target => "_blank" %> to help analyze conversion funnels. Pass captures URL parameters such as utm_source through hidden form fields. It’s very small and easy to install. <%= link_to "Visit the webite", "http://garybunofsky.github.io/pass.js/", :target => "_blank" %> or <%= link_to "view the source", "https://github.com/garybunofsky/pass.js", :target => "_blank" %>.</p>
</section>

<section>
  <h2>West Side Market</h2>
  <p>Cleveland’s historic marketplace is home to some of the finest food in the area. If you’re like me you have trouble remembering when it is open. To help with this reoccurring inconvenience I built a site to reference. <%= link_to "Visit the website", "http://iswestsidemarketopen.com/", :target => "_blank" %>.</p>
</section>
