<% content_for :page_title, "Portfolio" %>
<% content_for :page_description, "My most recent work outside of EmployStream is what you see in my portfolio. Websites, tools, simple applications; these are the things that I spend my free time working on." %>
<p>My most recent work outside of EmployStream is what you see in my portfolio. Websites, tools, simple applications; these are the things that I spend my free time working on.</p>

<section>
  <h2>Lease Lightning</h2>
  <p class="sm color-accent"><em>Ruby on Rails</em></p>
  <p><%= link_to "Lease Lightning", "http://leaselightning.com", :target => "_blank" %> is a super fast way to send lease agreements to prospective residents. Once a lease is sent, the potential renter can then digitally sign the lease from any device. Please note that this is a work in progress. <%= link_to "Visit the website", "http://leaselightning.com", :target => "_blank" %>.</p>
</section>
<section>
  <h2>Veronica</h2>
  <p class="sm color-accent"><em>Ruby &amp; Sinatra</em></p>
  <p>Veronica is an SMS chatbot. She can tell you today's news, tomorrow's weather forecast, and plenty of other things. You can text Veronica at (321)-233-9118. Don't worry she won't spam you or anything sketchy like that. <%= link_to "Save her number", "/veronica.vcf", :target => "_blank" %> or <%= link_to "view the source", "https://github.com/garybunofsky/veronica", :target => "_blank" %>.</p>
</section>

<section>
  <h2>Magenda</h2>
  <p class="sm color-accent"><em>Mean Stack</em></p>
  <p><%= link_to "Magenda", "http://magenda.co", :target => "_blank" %> is a light, browser-based to do list. A quick, simple way to log items. <%= link_to "Visit the website", "http://magenda.co", :target => "_blank" %>.</p>
</section>

<section>
  <h2>Pass.js</h2>
  <p class="sm color-accent"><em>Javascript</em></p>
  <p>I wrote <%= link_to "Pass.js", "http://garybunofsky.github.io/pass.js", :target => "_blank" %> to help analyze conversion funnels. Pass captures URL parameters such as utm_source through hidden form fields. It’s very small and easy to install. <%= link_to "Visit the website", "http://garybunofsky.github.io/pass.js/", :target => "_blank" %>.</p>
</section>

<section>
  <h2>Shee.sh</h2>
  <p class="sm color-accent"><em>Shell</em></p>
  <p><%= link_to "Shee.sh", "https://github.com/garybunofsky/shee.sh", :target => "_blank" %> is a compact shell script I use daily. When prompted it'll ask if I'm working or playing. Based on my response, Shee.sh opens the desired, previously declared applications. It saves a few clicks and a few seconds every day. <%= link_to "View the source", "https://github.com/garybunofsky/shee.sh", :target => "_blank" %>.</p>
</section>

<section>
  <h2>West Side Market</h2>
  <p class="sm color-accent"><em>Php</em></p>
  <p>Cleveland’s historic marketplace is home to some of the finest food in the area. If you’re like me you have trouble remembering when it is open. To help with this reoccurring inconvenience I built a site to reference. <%= link_to "Visit the website", "http://iswestsidemarketopen.com/", :target => "_blank" %>.</p>
</section>
