<% content_for :page_title, "Pass.js" %>
<% content_for :page_description, "Pass.js tracks referral traffic. It helps analyze conversion funnels by capturing URL parameters through hidden form fields. It’s very small and easy to install." %>
<div class="col-md-12 col-lg-10 offset-lg-1 mt-12">
	<div class="row mb-5">
		<div class="col-sm-6">
			<h2><strong><%= yield :page_title %></strong></h2>
			<p>Pass.js tracks referral traffic. It helps analyze conversion funnels by capturing URL parameters through hidden form fields. It’s very small and easy to install.</p>
		</div>
	</div>

	<div class="row mb-6">
		<div class="col-sm-6">
			<h5 class="mb-3">The Challenge</h3>
			<p>While at Fathom, clients often asked how many leads could be attributed to their PPC campagin. These values needed to be tracked to better understand where leads were coming from.</p>
		</div>
		<div class="col-sm-6">
			<h5 class="mb-3">The Outcome</h3>
			<p>A reusable javascript library that accurately tracks leads. Weighing only 3 kilobytes, Pass.js can be used with little overhead.</p>
		</div>
	</div>
		
	<div class="row mb-3">
		<div class="col-sm-6">
			<h3 class="lg">Brainstorming and Prototyping</h3>
		</div>
	</div>
	<div class="row mb-6">
		<div class="col-sm-12">
			<figure class="center mb-6">
				<img src="https://s3.amazonaws.com/garybunofsky.com/pass-brainstorm-1.jpg" alt="veronica-prototype" />
			</figure>
		</div>
	</div>
	
	<hr class="sm mb-8"/>
	
	<div class="row mb-6">
		<div class="col-sm-12">
			<h3 class="lg">How Pass.js Works</h3>
		</div>
		<div class="col-sm-12 col-md-6">
				<h4>1. Someone visits the website.</h4>
				<p>A person visits the page through a link. Appended to the link are url parameters, which look something like this <code>?utm_source=google</code>. These parameters need to be recorded if a the visitor completes the web to lead form.</p>
				<h4>2. The parameters are saved as cookies.</h4>
				<p>As soon as the webpage loads, the parameters are saved as cookies. Cookies allow Pass.js to be more accurate. Wondering why they are saved as cookies? <%= link_to "Find out", "#fn:1" %>.</p>
		</div>
		<div class="col-sm-12 col-md-6">
			<h4>3. The cookie values are sent to hidden form fields.</h4>
			<p>The cookies are injected into hidden form fields. When this form is submitted, we know exactly where the lead came from. Knowing the source of the lead determine marketing spend.</p>
			<h4>4. Conversion data is successfully captured.</h4>
			<p>Once a visitor submits the form we know what campaign segement the lead can be attributed to. This information is vital in making future spending decisions. With this data we can separate the wheat from the chaff.</p>
		</div>
	</div>
	
	<hr class="sm mb-8"/>
	
	<div class="row mb-10" id="fn:1">
		<div class="col-sm-12 col-md-6 offset-md-3">
			<h3 class="lg">Why save the params as cookies?</h3>
			<p class="md">Without cookies, if a user were to revisit the site, the campaign would recieve no attribution. Cookies were used to keep the results intact. Each and every value was stored as a cookie with a default expiration of 30 days.</p>	
		</div>
	</div>
	

	<hr class="sm mb-8" />
	
	<div class="row mb-12">
		<div class="col-sm-12 col-md-6">
			<p>The motivation to write Pass.js came from the need to analyze refferal traffic for PPC campaigns.</p>
			<%= link_to "View Site", "http://garybunofsky.github.io/pass.js/", class: "btn btn-primary" %>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mb-6">
			<%= link_to "/portfolio/veronica", class: "card shadow" do %>
				<div class="text-center">
					<p class="mb-0">Previous project</p>
					<h3 class="md">Veronica</h4>
				</div>
			<% end %>
    </div>
		
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mb-6">
			<%= link_to "/portfolio/tiny-notes", class: "card shadow" do %>
				<div class="text-center">
	      	<p class="mb-0">Next project</p>
					<h3 class="md">Tiny Notes</h4>
				</div>
			<% end %>
		</div>
	</div>
	
</div>