<% content_for :page_title, "Introduction" %>
<% content_for :page_description, "My name is Gary Bunofsky. I’m a designer and developer with a love for systems, typography and applications. I enjoy designing user interfaces and writing clean, sustainable code." %>

<p>My name is Gary Bunofsky (<%= link_to "Boon-ov-ski", "/bunofsky.mp3", :target => "_blank" %>). I’m a designer and developer with a love for systems, typography and applications. I enjoy designing user interfaces and writing clean, sustainable code.</p>

<p>I'm currently a Software Developer for <%= link_to "EmployStream", "http://employstream.com/", :target => "_blank" %> where we automate the hiring process. More specifically, I work with a team of developers to continuously integrate features into our current codebase.</p>

<p>Outside of EmployStream, I work on a few side projects. Most of those are what you see in my <%= link_to "portfolio", static_path(:portfolio) %>. I also started <%= link_to "Web Machine", "http://webmachine.io/", :target => "_blank" %>, a two person development team comprised of CJ Mosure and myself. When not <%= link_to "writing", static_path(:blog) %> or writing code, I enjoy practicing yoga, keeping up with the stock market and <%= link_to "reading", static_path(:library) %>.</p>

<p>Feel free to look at my <%= link_to "résumé", "/resume.pdf", :target => "_blank" %> or follow me on <%= link_to "Twitter", "http://twitter.com/garybunofsky/", :target => "_blank" %>.</p>
