<% content_for :page_title, "Finding Photos" %>
<% content_for :page_description, "Finding stock photos can be a hassle. Luckily there are websites that host free high-quality images. I curated a list of some of my favorites here." %>
<% content_for :date_posted, "November 18, 2014" %>
<% content_for :image, "https://s3.amazonaws.com/garybunofsky.com/forest.jpg" %>
<p>Finding stock photos can be a hassle. Luckily there are websites that host free high-quality images. I curated a list of some of my favorites here. It will be updated frequently so only good links are present.</p>
<figure class="center">
		<img src="https://s3.amazonaws.com/garybunofsky.com/forest.jpg" alt="forest" />
		<figcaption class="pull-right">A view of the forest.</figcaption>
</figure>
<h2>Photography Websites</h2>
<ul>
	<li>
		<%= link_to "albumarium.com", "http://albumarium.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "allthefreestock.com", "http://allthefreestock.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "compfight.com", "http://compfight.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "cupcake.nilssonlee.se", "http://cupcake.nilssonlee.se/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "deathtothestockphoto.com", "http://deathtothestockphoto.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "designerspics.com", "http://www.designerspics.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "finda.photo", "http://finda.photo/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "foodiesfeed.com", "http://foodiesfeed.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "freenaturestock.com", "http://freenaturestock.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "freepixels.com", "http://freepixels.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "getrefe.com/downloads/category/free", "http://getrefe.com/downloads/category/free/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "gratisography.com", "http://gratisography.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "imcreator.com/free", "http://imcreator.com/free/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "isorepublic.com", "http://isorepublic.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "jaymantri.com", "http://jaymantri.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "jeshoots.com", "http://jeshoots.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "kaboompics.com", "http://kaboompics.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "lifeofpix.com", "http://www.lifeofpix.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "littlevisuals.co", "http://littlevisuals.co/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "lockandstockphotos.com", "http://lockandstockphotos.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "magdeleine.co", "http://magdeleine.co/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "morguefile.com", "http://morguefile.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "moveast.me", "http://moveast.me/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "mmt.li", "http://mmt.li/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "nos.twnsnd.co", "http://nos.twnsnd.co/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "thepatternlibrary.com", "http://thepatternlibrary.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "pexels.com", "http://pexels.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "photocollections.io", "http://photocollections.io/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "picjumbo.com", "http://picjumbo.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "picography.co", "http://picography.co/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "pixabay.com", "https://pixabay.com", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "pjrvs.com/a/photos", "https://pjrvs.com/a/photos", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "publicdomainarchive.com", "http://publicdomainarchive.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "raumrot.com", "http://raumrot.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "search.creativecommons.org", "http://search.creativecommons.org/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "sitebuilderreport.com/stock-up", "http://www.sitebuilderreport.com/stock-up/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "splitshire.com", "http://www.splitshire.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "splashbase.co", "http://www.splashbase.co/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "startupstockphotos.com", "http://startupstockphotos.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "stockvault.net", "http://stockvault.net/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "stokpic.com", "http://stokpic.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "superfamous.com", "http://superfamous.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "sxc.hu", "http://sxc.hu/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "thestocks.im", "http://thestocks.im/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "travelcoffeebook.com", "http://travelcoffeebook.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "unsplash.com", "http://unsplash.com/", :target => "_blank" %>
	</li>
	<li>
		<%= link_to "wefunction.com/category/free-photos", "http://wefunction.com/category/free-photos/", :target => "_blank" %>
	</li>
</ul>
