<% content_for :page_title, "Blog" %>
<% content_for :page_description, "The primary purpose of this blog is to share my thoughts with others. Topics often cover design, development and things of that nature." %>
<div class="col-md-6 offset-md-3 mt-12">
  <h2><strong><%= yield :page_title %></strong></h2>
  <p>The primary purpose of this blog is to share my thoughts with others. Topics often cover design, development and things of that nature. These are compositions, lists, references and resources that I feel are valuable enough to pass along.</p>
  <h4 class="xs mt-6">November 22nd, 2016</h4>
  <h3><%= link_to "Facebook's New Job", subpage_path(:blog, 'facebooks-new-job') %></h3>

  <h4 class="xs mt-6">November 17th, 2016</h4>
  <h3><%= link_to "Not the Same", subpage_path(:blog, 'not-the-same') %></h3>

  <h4 class="xs mt-6">July 29th, 2015</h4>
  <h3><%= link_to "Basic Git Commands", subpage_path(:blog, 'basic-git-commands') %></h3>

  <h4 class="xs mt-6">November 18, 2015</h4>
  <h3><%= link_to "Finding Photos", subpage_path(:blog, 'finding-photos') %></h3>

  <h4 class="xs mt-6">June 18th, 2015</h4>
  <h3><%= link_to "Website Deployment Checklist", subpage_path(:blog, 'website-deployment-checklist') %></h3>
  
  <h4 class="xs mt-6">October 14th, 2014</h4>
  <h3><%= link_to "The Hamburger Icon", subpage_path(:blog, 'the-hamburger-icon') %></h3>
</div>