<% content_for :page_title, "Blog" %>
<% content_for :page_description, "The primary purpose of this blog is to share my thoughts with others. Topics often cover design, development and things of that nature." %>
<p>The primary purpose of this blog is to share my thoughts with others. Topics often cover design, development and things of that nature. These are compositions, lists, references and resources that I feel are valuable enough to pass along.</p>


<section>
  <h3>Facebook's New Job</h3>
  <p><%= link_to "Read", subpage_path(:blog, 'facebooks-new-job') %></p>
</section>

<section>
  <h3>Not the Same</h3>
  <p><%= link_to "Read", subpage_path(:blog, 'not-the-same') %></p>
</section>

<section>
  <h3>Basic Git Commands</h3>
  <p><%= link_to "Read", subpage_path(:blog, 'basic-git-commands') %></p>
</section>

<section>
  <h3>Finding Photos</h3>
  <p><%= link_to "Read", subpage_path(:blog, 'finding-photos') %></p>
</section>

<section>
  <h3>The Hamburger Icon</h3>
  <p><%= link_to "Read", subpage_path(:blog, 'the-hamburger-icon') %></p>
</section>

<section>
  <h3>Website Deployment Checklist</h3>
  <p><%= link_to "Read", subpage_path(:blog, 'website-deployment-checklist') %></p>
</section>
