<% content_for :page_title, "Website Deployment Checklist" %>
<% content_for :page_description, "I have composed this Website Deployment Checklist. When used it can mitigate the risk of unforeseen things happening." %>
<% content_for :date_posted, "June 18th, 2015" %>
<div class="col-md-6 offset-md-3 mt-12">
  <h2><strong><%= yield :page_title %></strong></h2>
		
	<p>There are many things to focus on when the time comes to launch a website. Concentration is imperative during this time. Forgetting to complete a small procedure could be detrimental. I have composed this Website Deployment Checklist. When used it can mitigate the risk of unforeseen things happening. It has proven itself valuable time and time again.</p>

	<h2>Content</h2>
	<ul class="checkbox">
			<li>
					<input type="checkbox">Correct spelling, grammar, capitalization &amp; punctuation.
			</li>
			<li>
					<input type="checkbox">Widows and orphans are eliminated.
			</li>
			<li>
					<input type="checkbox">Heading level text is concise.
			</li>
			<li>
					<input type="checkbox">Images are relatively linked.
			</li>
			<li>
					<input type="checkbox">Image files have alt attributes.
			</li>
	</ul>

	<h2>Links</h2>
	<ul class="checkbox">
			<li>
					<input type="checkbox">All links are relative and directed to the correct domain.
			</li>
			<li>
					<input type="checkbox">Links open in a new tab if need be.
			</li>
	</ul>

	<h2>Forms</h2>
	<ul class="checkbox">
			<li>
					<input type="checkbox">Forms send values to appropriate location.
			</li>
			<li>
					<input type="checkbox">Required fields are coded correctly.
			</li>
			<li>
					<input type="checkbox">Required fields have asterisks.
			</li>
			<li>
					<input type="checkbox">Placeholder text is eliminated on-click.
			</li>
			<li>
					<input type="checkbox">Submits in all browsers and devices.
			</li>
			<li>
					<input type="checkbox">Data is captured with a secondary method.
			</li>
			<li>
					<input type="checkbox">Preventative measure to reduce form spam.</p>
			</li>
	</ul>

	<h2>Design</h2>
	<ul class="checkbox">
			<li>
					<input type="checkbox">The rendered site matches the design.
			</li>
			<li>
					<input type="checkbox">A favicon created and is linked<sup id="fn:1"><%= link_to "1", "#fnref:1" %></sup>.
			</li>
	</ul>

	<h2>Functionality</h2>
	<ul class="checkbox">
			<li>
					<input type="checkbox">404 page directs user to the correct page.
			</li>
			<li>
					<input type="checkbox">Search function correctly parses content.
			</li>
			<li>
					<input type="checkbox">Javascript console has no errors.
			</li>
	</ul>

	<h2>Security</h2>
	<ul class="checkbox">
			<li>
					<input type="checkbox">Passwords are a combination of letters, numbers and special characters.
			</li>
			<li>
					<input type="checkbox">Log-in has been changed.
			</li>
			<li>
					<input type="checkbox">Limit is set on the number of failed log-in attempts.
			</li>
			<li>
					<input type="checkbox">Content management system is updated.
			</li>
			<li>
					<input type="checkbox">Plug-ins are the most recent versions.
			</li>
	</ul>

	<h2>Load</h2>
	<ul class="checkbox">
			<li>
					<input type="checkbox">Page load time is tested.<sup id="fn:2"><%= link_to "2", "#fnref:2" %></sup>
			</li>
			<li>
					<input type="checkbox">Image files are compressed.
			</li>
			<li>
					<input type="checkbox">Completed a load test.
			</li>
			<li>
					<input type="checkbox">Requests are kept to a minimum. Unnecessary requests are eliminated.
			</li>
	</ul>

	<h2>SEO</h2>
	<ul class="checkbox">
			<li>
					<input type="checkbox">A site map created and accessible.
			</li>
			<li>
					<input type="checkbox">Submitted site and sitemap to search engines.
			</li>
			<li>
					<input type="checkbox">Reformatted robots.txt to disable directories from search engines.
			</li>
			<li>
					<input type="checkbox">Added tracking code.
			</li>
			<li>
					<input type="checkbox">301 redirects for non-existent pages.
			</li>
	</ul>

	<div class="footnotes">
			<ol>
					<li id="fnref:1">
							The website <%= link_to "realfavicongenerator.net", "http://realfavicongenerator.net/", :target => "_blank" %> helps. <%= link_to "↑", "#fn:1" %>
					</li>
					<li id="fnref:2">
							I typically use <%= link_to "loadimpact.com", "https://loadimpact.com/", :target => "_blank" %>. <%= link_to "↑", "#fn:2" %>
					</li>
			</ol>
	</div>
</div>