<% content_for :page_title, "About" %>
<% content_for :page_description, "In my spare time I like to explore Cleveland, trade stocks, build side projects, read, and walk my dog – Ruby." %>
<div class="container pb24">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
			<figure class="circle">
				<%= image_tag '/garybunofsky.png' %>
			</figure>
		</div>
	</div>
</div>
<p>As much as I love to design, push commits, and make things with a computer, I participate in other activities too. In my spare time, I enjoy exploring Cleveland, trading stocks, building side projects, reading, and walking my dog – <%= link_to "Ruby", "https://www.instagram.com/p/BHr21RVh56e/?taken-by=garybunofsky", :target => "blank" %>.</p>
<p>If you have any questions or would like to <%= link_to "schedule a meeting", "https://calendly.com/garybunofsky" %> you can always <%= mail_to "gary@garybunofsky.com", "email me" %>.</p>

<h3 class="pt24">Skills &amp; Languages</h3>
<p>HTML, CSS, LESS, SCSS, PHP, Javascript, Ruby, Rails, Command line, SQL, Postgres, Git, APIs, TDD, responsive frameworks, Sketch, Adobe CC, Vagrant.</p>

<h3 class="pt24">Education</h3>
<ul class="none">
	<li>Kent State University</li>
	<li>B.A. Communication Studies</li>
	<li>2008-2012</li>
</ul>

<h3 class="pt24">Email</h3>
<ul class="none">
	<li><%= mail_to "gary@garybunofsky.com", "gary@garybunofsky.com" %></li>
</ul>
<h3 class="pt24">Elsewhere</h3>
<ul class="none">
  <li>
    <%= link_to "Github",  "https://github.com/garybunofsky", :target => "_blank" %>
  </li>
  <li>
    <%= link_to "Instagram",  "https://instagram.com/garybunofsky", :target => "_blank" %>
  </li>
  <li>
    <%= link_to "LinkedIn",  "https://linkedin.com/in/garybunofsky", :target => "_blank" %>
  </li>
  <li>
    <%= link_to "Twitter",  "https://twitter.com/garybunofsky", :target => "_blank" %>
  </li>
</ul>
