<% content_for :page_title, "About" %>
<% content_for :page_description, "In my spare time I like to explore Cleveland, trade stocks, build side projects, read, and walk my dog – Ruby." %>
<div class="container pb24">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
			<figure class="circle">
				<%= image_tag '/garybunofsky.png' %>
			</figure>
		</div>
	</div>
</div>
<p>As much as I love to design, push commits, and make things with a computer, I participate in other activities too. In my spare time, I enjoy exploring Cleveland, trading stocks, building side projects, reading, and walking my dog – <%= link_to "Ruby", "https://www.instagram.com/p/BHr21RVh56e/?taken-by=garybunofsky", :target => "blank" %>.</p>
<p>If you have any questions or would like to <%= link_to "schedule a meeting", "https://calendly.com/garybunofsky" %> you can always <%= mail_to "gary@garybunofsky.com", "email me" %>.</p>

<h3 class="pt24">Professional Experience</h3>
<div id="carousel-default" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-default" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-default" data-slide-to="1"></li>
    <li data-target="#carousel-default" data-slide-to="2"></li>
		<li data-target="#carousel-default" data-slide-to="3"></li>
		<li data-target="#carousel-default" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <h4>EmployStream, <em>Software Developer</em></h4>
			<h5>November 2015 – Present</h5>
			<p>I work with a team of developers to continuously integrate features into our codebase. I’m currently focused on enhancing user experience and on-boarding.</p>
    </div>
    <div class="carousel-item">
			<h4>Fathom, <em>Web Developer</em></h4>
			<h5>November 2014 – October 2015</h5>
			<p>Designed and developed high-traffic websites for universities and academic institutions. The primary goal was to convert visitors. Worked closely with clients and marketing specialists.</p>
    </div>
		<div class="carousel-item">
			<h4>Web Machine, <em>Developer &amp; Co-founder</em></h4>
			<h5>August 2012 – Present</h5>
			<p>We use an Agile approach to build and maintain web solutions. These range from website and brand redesigns to SalesForce migrations.</p>
		</div>
		<div class="carousel-item">
			<h4>American Red Cross, <em>Design Intern</em></h4>
			<h5>May 2011 – August 2011</h5>
			<p>I designed marketing collateral. I also coded and launched targeted email campaigns.</p>
		</div>
		<div class="carousel-item">
			<h4>Kent State University, <em>Designer</em></h4>
			<h5>January 2010 – May 2012</h5>
			<p>During my time at Kent State I worked closely with project managers to design web and print advertisements for clients.</p>
		</div>
  </div>
</div>

<h3 class="pt24">Skills &amp; Languages</h3>
<p>HTML, CSS, LESS, SCSS, PHP, Javascript, Ruby, Rails, Command line, SQL, Postgres, Git, APIs, TDD, responsive frameworks, Sketch, Adobe CC, Vagrant.</p>

<h3 class="pt24">Education</h3>
<ul class="none">
	<li>Kent State University</li>
	<li>B.A. Communication Studies</li>
	<li>2008-2012</li>
</ul>

<h3 class="pt24">Email</h3>
<ul class="none">
	<li><%= mail_to "gary@garybunofsky.com", "gary@garybunofsky.com" %></li>
</ul>
<h3 class="pt24">Elsewhere</h3>
<ul class="none">
  <li>
    <%= link_to "Github",  "https://github.com/garybunofsky", :target => "_blank" %>
  </li>
  <li>
    <%= link_to "Instagram",  "https://instagram.com/garybunofsky", :target => "_blank" %>
  </li>
  <li>
    <%= link_to "LinkedIn",  "https://linkedin.com/in/garybunofsky", :target => "_blank" %>
  </li>
  <li>
    <%= link_to "Twitter",  "https://twitter.com/garybunofsky", :target => "_blank" %>
  </li>
</ul>
