<% content_for :page_title, "About" %>
<% content_for :page_description, "In my spare time I like to explore Cleveland, trade stocks, build side projects, read, and walk my dog – Ruby." %>
<div class="col-md-6 offset-md-3 mt-12">
	<h2><strong><%= yield :page_title %></strong></h2>

	<h3 class="sm">Skills &amp; Languages</h3>
	<p>Javascript (React, Angular & Node), CSS (SCSS & LESS), Ruby (Rails & Sinatra), PHP (Phalcon), SQL, Postgres, Mongo, Sketch and Adobe applications. <%= link_to "See other tools I use.", "/tools/" %></p>

	<div class="col-xs-12">
		<figure class="center">
			<img src="https://s3.amazonaws.com/garybunofsky.com/gary-bunofsky-loading-dock.jpg" alt="Gary Bunofsky sitting on a loading dock." />
		</figure>
	</div>

	<h3 class="sm mt-6">Currently</h3>
	<p>Software Developer at <%= link_to "Dumpsters.com", "http://dumpsters.com" %><br />Designer at <%= link_to "Web Machine", "http://webmachine.io" %><br />Mentor at <%= link_to "Thinkful", "http://thinkful.com" %></p>

	<h3 class="sm mt-6">Previously</h3>
	<p>Software Developer at <%= link_to "EmployStream", "http://employstream.com" %><br />Web Developer at <%= link_to "Fathom", "http://fathomdelivers.com" %><br />Designer at <%= link_to "Kent State University", "http://kent.edu" %><br />Design Intern at <%= link_to "The American Red Cross", "http://redcross.org" %></p>

	<h3 class="sm mt-6">Education</h3>
	<ul class="none">
		<li>Kent State University</li>
		<li>B.A. Communication Studies</li>
		<li>2008-2012</li>
	</ul>

	<h3 class="sm mt-6">Résumé (Updated <%= Time.current.strftime("%B %Y") %>)</h3>
	<ul class="none">
		<li><%= link_to "View", "/resume.pdf", :target => "blank" %> or <%= link_to "download résumé", "/resume.pdf", :download=>"Gary-Bunofsky-Resume.pdf" %></li>
	</ul>

	<h3 class="sm mt-6">Email</h3>
	<ul class="none">
		<li><%= mail_to "gary@garybunofsky.com", "gary@garybunofsky.com" %></li>
	</ul>

	<h3 class="sm mt-6">Things I Like </h3>
	<p>I love being on the computer, but I participate in other activities too. I like <%= link_to "reading", static_path(:library) %>, <%= link_to "writing", static_path(:blog) %>, trading stocks, jazz music, and walking my dog, <%= link_to "Ruby", "https://www.instagram.com/p/BHr21RVh56e/?taken-by=garybunofsky", :target => "blank" %>.</p>

	<h3 class="sm mt-6">Elsewhere</h3>
	<ul class="none">
	  <li>
	    <%= link_to "Github", "https://github.com/garybunofsky", target: "_blank" %>
	  </li>
	  <li>
	    <%= link_to "Instagram", "https://instagram.com/garybunofsky", target: "_blank" %>
	  </li>
	  <li>
	    <%= link_to "LinkedIn", "https://linkedin.com/in/garybunofsky", target: "_blank" %>
	  </li>
	  <li>
	    <%= link_to "Twitter", "https://twitter.com/garybunofsky", target: "_blank" %>
	  </li>
	</ul>

	<div class="col-xs-12 mt-6">
		<div class="card shadow">
		  <img src="../assets/envelope.svg" class="center mb-5 mt-5" />
			<h5>Newsletter</h5>
			<p>A hand-picked selection of awesome apps, news, articles, and accessories in your inbox every Wednesday. No spam ever. Unsubscribe with one click any time.</strong></p>
			<%= render 'layouts/mailchimp' %>
		</div>
	</div>

</div>
