<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('../components/head.ejs') %>
  <body>
    <%- include('../components/nav.ejs') %>
    <%- include('../components/hero.ejs', {head: 'Portfolio', sub: 'Below you can find some projects I\'ve made.' }) %>
    <main>
      <section class="content wrapper-md">
        <%- include('../components/projects.ejs') %>
      </section>
    </main>
    <%- include('../components/footer.ejs') %>
  </body>
</html>
