<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-5">
        <h1 class="brand">
					<%= link_to root_url do %>Gary Bunofsky<span>, Designer &amp; Developer</span><% end %>
        </h1>
      </div>
      <div class="col-sm-2 pull-right">
        <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#collapsing-nav">
					<div class="line">&nbsp;</div>
				</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-4 collapse navbar-toggleable-sm" id="collapsing-nav">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <%= link_to "Blog", static_path(:blog) %>
          </li>
          <li class="nav-item">
            <%= link_to "Changelog", static_path(:changelog) %>
          </li>
          <li class="nav-item">
            <%= link_to "Library", static_path(:library) %>
          </li>
          <li class="nav-item">
						<%= link_to "Portfolio", static_path(:portfolio) %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
